/* обнуление */

html {
    font-size: 16px;
}

/* Default styles */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*   */
a,
a:hover {
    color: white;
    text-decoration: none;
}

.wrapper {}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    background: #3d343dee;
    z-index: 3;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 10px;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 80px;
    z-index: 5;
}

.header__logo img {
    max-width: 100%;
}

.header__burger {
    display: none;
}
.header__list {
    list-style: none;
    display: flex;
    position: relative;
    z-index: 3;
}

.header__link {
    margin-left: 20px;
}

@media(max-width:767px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 10;
    }

    .header__burger span {
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:after,
    .header__burger:before {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background: #fff;
        transition: all 0.3s ease 0s;
    }

    .header__burger:after {
        top: 0;
    }

    .header__burger:before {
        bottom: 0;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 0px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 18px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #18b5a4;
        z-index: 0;
        padding: 70px 10px 10px 20px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
        transition: all 0.3s ease 0s;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 60px; 
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
}


.content {
    padding-top: 100px;
}

.content__text {}